.test-case-generator {
    margin: 0 auto;
    padding: 50px;
    color: #f0f0f0;
    border-radius: 8px;
  }
  
  h2 {
    text-align: center;
    color: white;
  }
  
  .input-section,
  .scenario-section,
  .association-process-section {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: white;
  }
  
  textarea {
    width: 100%;
    height: 300px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #444;
    background-color: #334155;
    color: #f0f0f0;
    resize: vertical;
  }
  
  .language-and-test-cases {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .language-selection,
  .test-cases {
    flex: 1;
    padding: 10px;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .language-selection {
    margin-right: 10px;
  }
  
  .languages div {
    margin: 8px 0;
    padding: 6px 12px;
    border: 1px solid #444;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    text-align: center;
    width: 300px;
    font-weight: 500;
  }
  
  .languages .active {
    background-color: #a3e635;
    color: black;
    font-weight: 700;
  }
  
  .test-cases label {
    display: block;
    margin-top: 10px;
    color: white;
  }
  
  .test-cases input {
    width: 100%;
    padding: 6px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #444;
    background-color: #2e2e4d;
    color: #94a3b8;
  }
  
  .submit-button {
    width: 100%;
    padding: 12px;
    background-color: #a3e635;
    color: #1A2E05;
    font-weight: bold;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #8cc22a; /* Slightly darker shade for hover effect */
    color: #1A2E05;
  }
  
  button:active {
    background-color: #74a820; /* Even darker shade for active effect */
    color: #1A2E05;
    transform: scale(0.98); /* Slightly shrink for press effect */
  }

.modal-overlay {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-container {
  max-width: 80%;
  height: 90%;
  color: white;
  border-radius: 8px;
  padding: 16px;
  position: relative;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: white;
}

.close-button {
  background: none;
  border: none;
  color: black;
  font-size: 15px;
  cursor: pointer;
  background-color: #b9ff00;
  border-radius: 20px;
  font-weight: 570;
}
.close-button:hover {
  background-color: #8cc22a; /* Slightly darker shade for hover effect */
  color: #1A2E05;
}

.close-button:active {
  background-color: #74a820; /* Even darker shade for active effect */
  color: #1A2E05;
  transform: scale(0.98); /* Slightly shrink for press effect */
}

.modal-body {
  margin-top: 12px;
  font-size: 14px;
  line-height: 1.5;
}

.highlight {
  color: #65a6ff;
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.copy-button {
  width: 100%;
  background-color: #b9ff00;
  color: #1c1c2e;
  font-weight: bold;
  border: none;
  padding: 8px;
  margin-top: 12px;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
}
.copy-button:hover {
  background-color: #8cc22a; /* Slightly darker shade for hover effect */
  color: #1A2E05;
}

.copy-button:active {
  background-color: #74a820; /* Even darker shade for active effect */
  color: #1A2E05;
  transform: scale(0.98); /* Slightly shrink for press effect */
}
.modal-body {
  max-height: 400px; 
  overflow-y: auto; 
  padding: 10px;
}

.modal-body pre {
  white-space: pre-wrap; 
  word-wrap: break-word; 
  overflow-wrap: break-word;
  font-size: 14px; 
}

.modal-body code {
  display: block;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto; 
}
.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; 
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #a3e635;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  position: relative;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #a3e635;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
}




